@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Eater&family=Poppins:wght@500;700&family=Rubik+Glitch&display=swap');
.foot{
    height: 200px;
    margin-top: 50px;
    margin-bottom: 0;
    background-color: rgba(42, 13, 13, 0.54);
}

.footer-title{
font-family: 'Dancing Script', cursive;
font-family: 'Eater', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik Glitch', cursive;
padding-top: 40px;

}

.side{
    color: rgb(119, 8, 27);
}